exercises/seven/alice.txt
exercises/seven/anne.txt
exercises/seven/oz.txt
exercises/seven/texts/carpentry.txt
exercises/seven/texts/household.txt
exercises/seven/texts/soap.txt
exercises/seven/texts/radio.txt
exercises/seven/texts/quilts.txt
