exercises/seven/alice.txt
exercises/seven/anne.txt
exercises/seven/oz.txt
exercises/seven/texts/carpentry.txt
exercises/seven/texts/household.txt
exercises/seven/texts/soap.txt
exercises/seven/texts/radio.txt
exercises/seven/texts/quilts.txt
exercises/nine/GSS7218_R1.dta
exercises/nine/federalist-papers.csv
exercises/eight/happiness/2015.csv
exercises/eight/happiness/2016.csv
exercises/eight/happiness/2017.csv
exercises/eight/happiness/2018.csv
exercises/eight/happiness/2019.csv
