exercises/seven/alice.txt
exercises/seven/anne.txt
exercises/seven/oz.txt
exercises/seven/texts/carpentry.txt
exercises/seven/texts/household.txt
exercises/seven/texts/soap.txt
exercises/seven/texts/radio.txt
exercises/seven/texts/quilts.txt
exercises/nine/GSS7218_R1.dta
exercises/nine/federalist-papers.csv
exercises/eight/happiness/2015.csv
exercises/eight/happiness/2016.csv
exercises/eight/happiness/2017.csv
exercises/eight/happiness/2018.csv
exercises/eight/happiness/2019.csv
exercises/ten/credentials.ini
exercises/eleven/amazon.csv
exercises/eleven/text/wof01_the_dragonet_prophecy-nouns.txt
exercises/eleven/text/wof01_the_dragonet_prophecy.txt
exercises/eleven/text/wof10_darkness_of_dragons.txt
exercises/eleven/text/wof10_darkness_of_dragons-nouns.txt
exercises/eleven/text/wof09_talons_of_power.txt
exercises/eleven/text/wof09_talons_of_power-nouns.txt
exercises/eleven/text/wof08_escaping_peril.txt
exercises/eleven/text/wof08_escaping_peril-nouns.txt
exercises/eleven/text/wof07_winter_turning.txt
exercises/eleven/text/wof07_winter_turning-nouns.txt
exercises/eleven/text/wof06_moon_rising.txt
exercises/eleven/text/wof06_moon_rising-nouns.txt
exercises/eleven/text/wof05_the_brightest_night.txt
exercises/eleven/text/wof05_the_brightest_night-nouns.txt
exercises/eleven/text/wof04_the_dark_secret.txt
exercises/eleven/text/wof04_the_dark_secret-nouns.txt
exercises/eleven/text/wof02_the_lost_heir-nouns.txt
exercises/eleven/text/wof02_the_lost_heir.txt
exercises/eleven/text/wof03_the_hidden_kingdom.txt
exercises/eleven/text/wof03_the_hidden_kingdom-nouns.txt
exercises/ten/NFTtweets.csv
exercises/twelve/alice.txt
exercises/twelve/texts/anne.txt
exercises/twelve/texts/carpentry.txt
exercises/twelve/texts/household.txt
exercises/twelve/texts/oz.txt
exercises/twelve/texts/quilts.txt
exercises/twelve/texts/radio.txt
exercises/twelve/texts/soap.txt
exercises/eleven/pdf/CarringtonDesiringBlackness.pdf
exercises/eleven/pdf/DIgnazioKleinFeministData.pdf
exercises/eleven/pdf/GrayWrightBitchPlanet.pdf
exercises/eleven/pdf/HarrerRadicalJamming.pdf
exercises/eleven/pdf/HertzMakingCritMaking.pdf
exercises/eleven/pdf/QuesenberryWomensAutobiographicalComics.pdf
exercises/eleven/pdf/RattoCriticalMaking.pdf
exercises/eleven/pdf/desktop.ini
exercises/thirteen/tweets.csv
exercises/thirteen/mickey.png
exercises/thirteen/credentials.ini
exercises/thirteen/nanogenmo/texts/alice.txt
exercises/thirteen/nanogenmo/texts/anne.txt
exercises/thirteen/nanogenmo/texts/oz.txt
